@model Asp.netCoreMVCIntro.Models.Tutorial

<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
    </tr>
    @* @foreach (var tutorial in tutorials) *@
    @* { *@
    @*     <tr> *@
    @*         <td>@tutorial.Id</td> *@
    @*         <td>@tutorial.Name</td> *@
    @*         <td>@tutorial.Description</td> *@
    @*     </tr> *@
    @* } *@
    <tr>
        <td>@Model.Id</td>
        <td>@Model.Name</td>
        <td>@Model.Description</td>
    </tr>
</table>
