@{
    // var tutorials = ViewData["tutorials"] as List<Asp.netCoreMVCIntro.Models.Tutorial>;
    var tutorials = ViewBag.Tutorials;
}

<h1>@ViewData["title"]</h1>
<h2>@ViewBag.name</h2>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
    </tr>
    @foreach (var tutorial in tutorials)
    {
        <tr>
            <td>@tutorial.Id</td>
            <td>@tutorial.Name</td>
            <td>@tutorial.Description</td>
        </tr>
    }
</table>
